html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #664343 50%, #795757 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

h1 {
  font-family: monospace;
  color: #3B3030;
  margin: 10% 30%;
  border: 2px outset #3B3030;
  border-radius: 5px;
}

h3{
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.grid {
  display: grid;
  width: 40%;
  margin: 10% 30%;
  grid-template-columns: 1fr;
  background-color: #ECDFCC;
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  text-align: center;
}

.card {
  grid-row: span 1;
}

.text-input {
  resize: none;
  height: 20px;
  width: 80%;
}

.checkbox {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  margin-top: 5px;
  vertical-align: top;
}

.edit {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-top: 4px;
  vertical-align: top;
}

.new-task{
  font-family: monospace;
  margin-left: 38px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.add {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-top: 30px;
  vertical-align: top;
}
